.DESKTOP-DIV {
    background-color: rgb(40, 40, 40);
    image-rendering: pixelated;
}


.tile {
    background-color: black;
    background-image: url("images/dirt.png");
}
/*.tile:hover {
    background-image: url("images/grass.png");
}*/

/*hitbox indicator*/
.icon:hover {
    background-color:rgba(256,256,256,.125);
}
.dragging-over { /*duplicate of icon:hover, but hovers cannot be detected when dragging, so it detects if it's currently dragging over the spot*/
    background-color:rgba(256,256,256,.125);
}

/*icon imagery*/
.icon-image {
    filter: drop-shadow(-2px 6px 5px rgba(0,0,0,0.8)); /*shadow*/
}
.icon:hover .player-glow {
    filter: drop-shadow(0px 0px 5px cyan); /*selection glow*/
}
.icon:hover .default-glow {
    filter: drop-shadow(0px 0px 5px white); /*selection glow*/
}
.icon:hover .move-glow {
    filter: drop-shadow(0px 0px 5px gold); /*selection glow*/
}
.icon:hover .hostile-glow {
    filter: drop-shadow(0px 0px 5px red); /*selection glow*/
}



/* .daylight {
    filter: brightness(100%) hue-rotate(-20deg) sepia(30%);
}

.daylight:hover {
    filter: brightness(50%) hue-rotate(20deg) grayscale(10%);
} */

/* image scaling & anchoring*/

.ned {
    width: 80%;
    left: 10%;
    top: -100%;
}

.rock {
    width: 90%;
    top: -30%;
    left: 5%;
}

.statue {
    width: 80%;
    left: 10%;
    top: -100%;
}

.sapling {
    width: 150%;
    top: -85%;
    left: -15%;
}

.shrub {
    width: 250%;
    top: -60%;
    left: -80%;
}

.tree {
    width: 300%;
    top: -300%;
    left: -70%;
}