body {
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

.DESKTOP-DIV {
    height: 350vh;
    width: 200vw;

    margin-left:-15px;
    margin-top:-15vh;

    transform: rotate(45deg);
    transform: skew(15deg, 15deg);

    background-color: rgb(40, 40, 40);

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    background-color: black;
    outline: 4px ridge white;
    transition-duration: 1s;
}

.tile:hover {
    background-color: blue;
    outline: 4px ridge white;

    transform: rotate(135deg);
    transform: skew(-18deg, -18deg);
    

    transition-duration: 0.1s;
}