body {
    height: 100vh;
    overflow: auto;
    margin: 0px;
    scrollbar-width: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2), 1fr);
}

.DESKTOP-DIV {

    /*width: calc(var(--scale) * var(--columns))px;
    height: calc(var(--scale) * var(--rows))px;*/


    position: relative;
    left: var(--worldx);
    top: var(--worldy);

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);

    user-select: none;

    /* transition: left 1s, top 1s; */
}

/* .DESKTOP-DIV:hover {
    left: -10%;
    top: -10%;
} */

.tile {
    background-size: 100%;
    margin:0px;
    position:relative;
}

.icon {
    width: 100%;
    height: 100%;
    position: relative;
}

.icon-image {
    position: absolute;
    pointer-events: none; /*lets hovering mouse pass through*/
}